<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>관리자 페이지</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>


<body>
<div class="container">
    <div class="row mt-5">
        <p><h1> 관리자 페이지</h1></p>
    </div>
    <br>
    <p>관리자 님 반갑습니다.</p>

    <div class="row mt-5">
        <div class="col-12">
            <h3>●사용자 정보</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">사용자 이름</th>
                    <th scope="col">이메일</th>
                    <th scope="col">권한</th>
                    <th scope="col">생성 시간</th>
                    <th scope="col">OAuth 플랫폼</th>
                    <th scope="col">OAuth 아이디</th>
                    <th scope="col">작성한 게시글</th>
                    <th scope="col">작성한 댓글</th>
                    <th scope="col">삭제한 게시글</th>
                    <th scope="col">삭제한 댓글</th>
                    <th scope="col">권한 부여</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.createTime}"></td>
                    <td th:text="${user.provider}"></td>
                    <td th:text="${user.providerId}"></td>

                    <td>
                        <ul th:if="${boards.size() > 0}">
                            <li th:each="board : ${boards}">
                                <a th:href="@{/board/view(id=${board.id})}" th:text="${board.title}"></a>
                            </li>
                        </ul>
                        <span th:unless="${boards.size() > 0}">작성한 게시글 없음</span>
                    </td>

                    <td>작성한 댓글 없음</td>
                    <td>삭제된 게시글 없음</td>
                    <td>삭제된 댓글 없음</td>
                    <td>
                        <button class="btn btn-primary" th:onclick="'javascript:toggleAdmin(' + ${user.id} + ');'">
                            Admin
                        </button>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function toggleAdmin(userId) {
        $.post('/manage/toggle-admin/' + userId, function (data) {
            location.reload();
        });
    }
</script>
</body>
</html>