<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>User Page</title>
</head>
<body>
<h1>User Page</h1>
<hr>
<button th:onclick="|location.href='@{/}'|">홈으로</button>
<p sec:authentication="principal"></p>

<div sec:authorize="isAuthenticated()">
    <p th:text="'User Email : ' + ${email}"></p>
    <p th:text="'name : ' + ${name}"></p>
    <p th:text="'coin : ' + ${coin}"></p>
</div><br>

<div>
    <h3>구매한 상품 목록</h3>
    <table>
        <thead>
        <tr>
            <th>상품명</th>
            <th>가격</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userProduct : ${purchasedProducts}">
            <td th:text="${userProduct.product.name}"></td>
            <td th:text="${userProduct.product.price}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>